<div class="weather-block">
  <div class= "front-block">
    FRONT CONTENT
    <div>Humidity {{ d8_activity_list_detail.humidity }} </div>
    <div>Max Temp {{ d8_activity_list_detail.temp_max }} </div>
    <div>Min Temp {{ d8_activity_list_detail.temp_min }} </div>
    <div>pressure {{ d8_activity_list_detail.pressure }} </div>
    <div>wind speed <br>{{ d8_activity_list_detail.wind-speed }}</div>
  </div>
  <div class= "back-block">
    BACK CONTENT
    <div>Humidity {{ d8_activity_list_detail.humidity }} </div>
    <div>Max Temp {{ d8_activity_list_detail.temp_max }} </div>
    <div>Min Temp {{ d8_activity_list_detail.temp_min }} </div>
    <div>pressure {{ d8_activity_list_detail.pressure }} </div>
    <div>wind speed <br>{{ d8_activity_list_detail.wind-speed }}</div>
  </div>
</div>
